@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* header section */
.navbar {
  background-color: #1d3c09c1;
}
.heading {
  margin: auto 30px;
}
.text {
  font-size: 50px;
  color: #e6f0e0;
}
/* sidebar-section */
.sidebar {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10px 15px;
  background-color: #cad2c5;
}

.menu-links {
  list-style-type: none;
}
.nav-links {
  margin: 10px;
  padding: 3px;
}
.nav-links a {
  width: 100%;
  height: 75%;
  padding: 12px;
  font-size: 13px;
  text-decoration: none;
  color: #2f3e46;
  align-items: center;
  border-radius: 6px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu-links li {
  width: 120px;
  height: 60px;
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
li i {
  font-size: 20px;
  align-items: center;
}
.menu-links li a:hover {
  background-color: #2f3e46;
}
.menu-links li a:hover .bi,
.menu-links li a:hover .navtext,
.menu-links li a:hover .number {
  color: #caf0f8;
}
.navtext {
  padding-left: 5px;
}
.button {
  margin-left: 25px;
}
.number {
  width: 22px;
  height: 17px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  color: #e6f0e0;
  background-color: #718c61;
}

/* card-section */
.row .card {
  border-radius: 5px;
  margin: 20px 30px;
  background-color: #718c61;
  display: flex;
  align-items: center;
  padding: 10px;
}
.card i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  background-color: #cad2c5;
  justify-content: center;
}
.row .card:hover {
  box-shadow: 0 6px 10px rgba(6, 93, 52, 0.579);
  transition: 0.8s ease;
}
.card-body {
  width: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.row {
  display: flex;
  justify-content: center;
}
.card-content :first-child {
  font-family: "Explora", cursive;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
}
